<%- include ("../partials/header") %>

<div class="row">
    <h1 class="text-center">Edit EduBlock</h1>
    <div class="col-6 offset-3">         
        <form action="/blocks/<%=block._id%>?_method=PUT" method="POST">
        <div class="mb-3">
            <label class="form-label" for="title">Title</label>
            <input class="form-control" type="text" id="title" name="block[title]" value="<%=block.title%>">
        </div>
        <div class="mb-3">
            <label class="form-label" for="image">Image URL</label>
            <input class="form-control" type="text" id="image" name="block[image]" value="<%=block.image%>">
        </div>
        <div class="mb-3">
            <label class="form-label" for="summary">Summary</label>
            <input class="form-control" type="text" id="summary" name="block[summary]" value="<%=block.summary%>">
        </div>
        <div class="mb-3">
            <button class="btn btn-info">Add EduBlock</button>
        </div>
    </form>
    <a href="/blocks/<%=block._id%>">Back To EduBlock</a>
    </div>
</div>  

<%- include ("../partials/footer") %>