<%- include ("../partials/header") %>

<div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-3">
            <img style="width: 630px" src="<%= block.image%>" alt="">
            <div class="card-body">
                <h5 class="card-title"><%= block.title %></h5>
                <p class="card-text"><%= block.summary %></p>
            </div>
            <div class="card-body">
                <a class="card-link btn btn-info" href="/blocks/<%=block._id%>/edit">Edit EduBlock</a>
                <form class="d-inline" action="/blocks/<%=block._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-warning">Delete EduBlock</button>
                </form>
            </div>
        </div>
    </div>
</div>
  
    <footer>
        <a href="/blocks">All EduBlocks</a>
    </footer>
<%- include ("../partials/footer") %>